NEXT_PUBLIC_ROOT_NOTION_PAGE_ID=
NEXT_PUBLIC_SITE_URL=https://your-site.com
NOTION_TOKEN=

# Accès membres (optionnel)
PRIVATE_ACCESS_ENABLED=
JWT_SECRET=
NOTION_ACCESS_LIST_DB_ID=
NEXT_PUBLIC_ACCESS_REQUEST_PAGE_ID=
